* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  object-fit: contain;  /* keeps aspect ratio */
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
<<<<<<< HEAD

.app__signup {
  display: flex;
  flex-direction: column;
}
=======
>>>>>>> 6f2a718b65f26497c1ca5dc14ff6d536837f0c41
