body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus {
  outline: none;
}

button:focus {
  font-weight: bolder;
  outline: none;
}

input[type='text']:focus ~ button[type='submit']{
  background-color: #6082a3;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}